nav {
    width: 100;
    height: 65px;
    background: #ffffff;
    z-index: 0;
    box-shadow: 0 1px 1px #cccccc;
    position: relative;
}


body {
    margin: auto;
    background-image: url("/Users/laurasmith/Developer/uofu/GitHub/Homework/homework_01/Basic-Portfolio/assets/images/intersection.png"); 
}

#name {
    margin-left: 150px;
    padding:20px;
    background:#4aaaa5;
    color: #ffffff;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    z-index: 2;
    position: relative;
}

.links {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #777777;
    padding-top: 25px;
    z-index: 1;
    float: right;
    position: relative;
    width: 600px;
}

.contact {
     margin-right: 30px;
     float: right;
}

.portfolio {
    margin-right: 30px;
    float: right;
}

.about {
    margin-right: 150px;
    float: right;
}

hr {
    clear: both;
    height: 1px;
    background-color: #777777;
    
}

.text-container {
    width: 960px;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    line-height: 29px;
    color: #777777;
    background: #ffffff;
    position: relative;
    border: solid; 
    border-width: 1px; 
    border-color: #dddddd;
}

.ptitle {
    clear: both;
    margin: 0;
    padding-bottom: 15px;
    background: #ffffff;
    color: #4aaaa5;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 35px;
}

img {
    float: left;
    padding: 15px;
}

.me {
    padding: 25px;
}

footer {
    font-size: 12px;
    color: #cccccc;
    position: relative;
    background: #666666;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: solid;
    border-top-width: 8px;
    border-color: #4aaaa5;
  

}